@set('style_height', height ? `--divider-height:${height};` : '')
@set('style_color', color ? `--divider-color:${color};` : '')
@set('style_margin_top', margin?.top ? `--divider-margin-top:${margin.top};`: '')
<hr class="divider" style="{{style_height}} {{style_color}} {{style_margin_top}}"/>