{{--  <div class="js-header-sticky header-menu-topbar header-menu-topbar-fake">
  @!component('components/header-menu-top', {
      stickyPrefix: 'home-fake-sticky',
      staticPrefix: 'home-fake-static'
  })
</div>  --}}
<div class="header-menu-topbar" id="home-top">
  @!component('components/header-menu-top', {openMenu: 'js-close-menu'})
</div>
