<div class="js-close-menu header-menu hide scroll">
  <div class="header-menu-hidden js-menu-hidden" title="cliquer pour fermer le menu"></div>
  <nav class="header-menu-content">
    <button class="header-menu-close" id="button-close">X</button>
    @include('components/header-menu-items')
  </nav>
</div>
@include('components/header-static')
@include('components/header-menu-button')
