<div class="temoignage">
  <img src="{{asset('assets/images/header_bg.jpeg')}}" class="temoignage-image"  alt="">
  <div class="temoignage-content">
    <h1 class="temoignage-username">Name of user</h1>
    <p class="temoignage-comment">
     Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et earum ab dolor dolorem ut, quia voluptatum porro vero praesentium sed dolorum explicabo temporibus minima, corrupti illo fugit rem velit esse?
    </p>
  </div>
</div>