@set('witnesses', [
  {
    text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam nesciunt modi, non ab cumque officiis quas, voluptates',
    name: 'Owen Client'
  }
])

<section class="caroussel">
  @!component('components/witness', {witnesses})
</section>