[ENROLEMENT PRESTATAIRE]
----
Reçu le {{date}}
----
Un nouveau prestataire souhaite ce faire enroler!
Contactez le au plus vite!
----
Nom(s) et Prenom(s): {{lastname}} {{firstname}}
Numero: {{tel}}
Code d'enrollemnt: {{enroll_code}}