@layout('layouts/page')
@set('title', 'nous contactez')
@set('description', 'contactez nous pour plus d\'information ou d\'autres besion specifique')

@section('head')
@endsection

@section('content')

@!component('components/title', {
  text: 'A propos de nous',
})

<p>A propos</p>

@endsection