.form-select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
}

.form-select * {
  text-align: center;
}

.form-select-button {
  padding: 7px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--form-select-button-border-color);
  width: 100%;
}

.form-select-button .form-select-text {
  width: 80%;
  text-align: center;
}

.form-select-button .form-select-icon {
  width: 20%;
  text-align: right;
}

.form-select-button i {
  font-size: .7em;
}

.form-select-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background-color: var(--form-select-content-bg-color);
  box-shadow: 0 0 2px 1px var(--form-select-content-shadow-color);
  z-index: var(--layer-middle);
}

.form-select-input {
  font-size: 1.2rem;
  padding: .3em .5em;
  width: 100%;
  color: var(--form-select-input-color);
}

.form-select-options {
  margin-top: 5px;
  font-weight: 400;
  font-size: 1.1rem;
  overflow-y: scroll;
  max-height:  40vh;
}

.form-select-option {
  padding: .3em;
  cursor: default;
}

.form-select-option:hover {
  background-color: var(--form-select-option-hover-bg-color);
}

.form-select-option:hover a {
  cursor: default;
}

.form-select-content.active {
  display: initial;
}

.form-select-search {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: .3em .5em;
  font-size: .9rem;
  border-bottom: inset 2px var(--form-select-search-bg-color);
}

.form-select-input {
  border: none;
  outline: none;
}

.form-select-input:focus {
  outline: none;
  box-shadow: none;
}

.form-select-search-icon {
  font-size: 1.2em;

  color: var(--form-select-icon-color);
}
