<div>
  Entreprise devis
</div>

<form action="/test">

  @each(job in jobs)
    <label for="{{job.name}}-{{job.id}}">{{job.name}}</label>
    <input type="checkbox" name="job" id="{{job.name}}-{{job.id}}" value="{{job.id}}">
    <br>
  @endeach

  <select name="city">
    @each(city in cities)
      <option value="{{city.id}}">{{city.name}}</option>
    @endeach
  </select>

  <button type="submit">send</button>
</form>