<div class="search-field search-slider">
  <label for="limit-input">Nombre d'element affichable</label>
  <input  type="range" id="limit-slider" min="{{LIMIT.MIN}}" max="{{LIMIT.MAX}}" value="{{LIMIT.VALUE}}">
  <br>
  <input type="number" id="limit-input" min="{{LIMIT.MIN}}" max="{{LIMIT.MAX}}" value="{{LIMIT.VALUE}}">
</div>