@!component('search/parts/search-field', {
  title: 'Metiers',
  items: jobs,
  id: 'job',
  qs
})

@!component('search/parts/search-field', {
  title: 'Villes',
  items: cities,
  id: 'city',
  gender: 'f',
  qs
})

@!component('search/parts/search-field', {
title: 'Arrondissements',
items: arrondissements,
id: 'arrondissement',
qs
})

@!component('search/parts/search-field', {
  title: 'Quartiers',
  items: quaters,
  id: 'quater',
  qs
})