<div class="search-field">
  {{inspect(LIMIT)}}
  <label for="limit-input">Nbre de Sp par page</label>
  <input type="range" id="limit-slider" min="{{LIMIT.MIN}}" max="{{LIMIT.MAX}}" value="{{LIMIT.VALUE}}">
  <br>
  <input type="number" name="limit" id="limit-input" min="{{LIMIT.MIN}}" max="{{LIMIT.MAX}}" value="{{LIMIT.VALUE}}">
</div>