  .header-page {
    min-height: 0;
    background: linear-gradient(90deg, #000, #000A);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }
  
  .header-page-site-infos {
    /* justify-content: space-between; */
    align-items: center;
    display: flex;
    gap: 5px;
  }
  
  @media screen and (min-width:1025px) {
      .header-page-site-infos {
        width: 25%;
    }
  }
