@layout('layouts/page')
@set('title', 'Trouver un prestataire')
@set('description', 'Trouver un prestataire')

@section('head')
   @entryPointStyles('search')
   @entryPointScripts('search')
@endsection

@section('content')

<h1 class="search-title">Trouver Un Prestaire</h1>

<div class="search-content">
    @include('search/parts/search-fields')
  <section class="service-provider-cards">
    @!component('search/service-providers', {serviceProviders})
  </section>
</div>

@endsection