:root {
  /* Layer | niveaux de chaque calque */
  --layer-top: 75;
  --layer-middle: 50;
  --layer-bottom: 25;

  /* Logo Colors */
  --logo-primary-color: #ffffff;
  --logo-tertiary-color: #2e3192;
  --logo-secondary-color: #ed1e24;
  
  /* Default colors */
  --color-primary: var(--logo-tertiary-color);
  --color-secondary: #686aae;
  --color-success: #4eaf88;
  --color-danger: #e04f5f;
  --color-info: #2483ff;
  --color-warning: #f8f544f1;
  --color-grey: #737373;
  --color-white: #ffffff;
  --color-red: #ee4949;
  --color-dark: #0a0a0aea;

  /* Default ligth clors */
  --color-light-primary: #7879b5;
  --color-light-white: #E5E5E5;

  /* Text */
  --text-primary: #1b1a1a;
  --text-secondary: var(--color-white);
  --text-tertiary: var(--color-grey);

  /* Focus */
  --focus-oultine-color: var(--color-info);
  --focus-shadow-color: var(--color-info);

  /* Page */
  --page-bg-color: var(--logo-primary-color);
  --page-font-size: 14px;
  --page-font-family: "Montserrat";
  --page-color: var(--text-primary);

  /* Button */
  --button-bg-color: var(--color-primary);
  --button-text-color: var(--color-white);
  --button-hover-bg-color: var(--button-text-color);
  --button-hover-text-color: var(--button-bg-color);
  --button-disabled-bg-color: var(--color-light-white);
  --button-disabled-text-color: var(--color-grey);
  --button-border-color: transparent;
  --button-radius: 4px;

  /* Header menu */
  --header-menu-button-bg-color: var(--button-bg-color);
  --header-menu-button-line-color: var(--button-text-color);
  --header-menu-button-hover-bg-color: var(--button-hover-bg-color);
  --header-menu-button-hover-line-color: var(--button-hover-text-color);
  --header-menu-content-bg-color: var(--header-menu-button-bg-color);
  --header-menu-text-color: var(--color-primary);
  --header-menu-content-text-color: var(--color-white);
  --header-menu-bg-color: rgba(0, 0, 0, 0.548);
  --header-menu-item-underline: var(--color-primary);

  /* Header submenu */
  --header-submenu-triangle-size: 0.5em;
  --header-submenu-triangle-color: var(--color-primary);
  --header-submenu-items-bg-color: var(--color-secondary);
  --header-submenu-items-text-color: var(--color-white);
  --header-submenu-item-underline: var(--header-menu-item-underline);

  /* Auth buttons */
  --header-auth-button-bg-color: var(--button-hover-bg-color);
  --header-auth-button-text-color: var(--button-hover-text-color);

  /* Form select */
  --form-select-search-bg-color: var(--button-hover-text-color);
  --form-select-button-border-color: var(--button-hover-text-color);
  --form-select-content-bg-color: var(--button-hover-bg-color);
  --form-select-content-shadow-color: var(--button-hover-text-color);
  --form-select-input-color: var(--text-primary);
  --form-select-option-hover-bg-color: var(--color-light-white);
  --form-select-icon-color: var(--color-primary);

  /* Form label */
  --form-label-required-symbol: var(--color-red); 
  
  /* Form input */
  --form-input-border-color: var(--text-primary);

  /* Form error */
  --form-error-text-color: var(--color-danger);

  /* Form rule */
  --form-rule-bg-color: var(--color-light-primary);
  --form-rule-text-color: var(--color-light-white);

  /* Form submit buttom */
  --form-submit-bg-color: var(--button-bg-color);
  --form-submit-text-color: var(--button-text-color);
  --form-submit-hover-bg-color: var(--form-submit-text-color);
  --form-submit-hover-text-color: var(--form-submit-bg-color);
  --form-submit-border-color: var(--form-submit-bg-color);

  /* Title */
  --title-text-color: var(--text-primary);
  --title-underline-color: var(--color-red);

  /* Loader | button */
  --loader-button-bg-color: var(--button-bg-color);
  --loader-button-color: var(--button-text-color);
  --loader-button-radius: var(--button-radius);
  
  /* Devis | message */
  --devis-message-bg-color: var(--color-success);
  --devis-message-text-color: var(--color-success);

  /* Search */
  --search-content-sidebar-shadow: var(--color-dark);
}
