:root {
  /* limite de media query |  */
  --media-medium: 650px;
  --media-xl: 11300px;
  --media-xxl: 1300px;

  /* Page */
  --page-color: red;
  --page-font-size: 14px;
  --page-font-family: sans-serif;

  /* Button */
  --button-color: rgba(42, 4, 114, 0.932);
  --button-text-color: white;
  --button-hover-color: var(--button-text-color);
  --button-hover-text-color: var(--button-color);

  /* Layer | niveaux de chaque calque */
  --layer-top: 75;
  --layer-middle: 50;
  --layer-bottom: 25;
}
