@layout('base')
@set('title', 'Home|joris-app')
@set('description', 'howsome joris app home')

@section('menu')
  @include('layouts/parts/header')
@endsection

@section('content')

{{inspect(auth.user)}}
  @include('elements/temoignage')
@endsection