@layout('base')
@set('title', 'Home|joris-app')
@set('description', 'howsome joris app home')

@section('menu')
  {{--  @include('home/parts/header-home')  --}}
@endsection

@section('content')
  {{--  @include('components/top-button')  --}}
  {{--  @include('home/parts/home-introduce')  --}}
  {{--  @include('home/parts/home-stats')  --}}
  @include('components/witnesses')
@endsection
