.card-action-layout {
  
}

.card-action-close {
  position: absolute;
  top: 0;
  right: 0;

  --button-bg-color: transparent;
  --button-text-color: inherit;
  --button-hover-bg-color: transparent;
  --button-hover-text-color: var(--color-danger);
}

.card-action-hide-enter {
  display: none;
}

.card-action-hide {
  transition: 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 150%, 0);
}

.card-action-show {
  display: block;
  transition: .8s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate3d(0, 0, 0);
}
