.service-provider-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: 100%;
  grid-auto-flow: row;
  padding-bottom: 30px;
  padding-top: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}

@media only screen and (min-width: 475px) {
  .service-provider-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 650px) {
  .service-provider-cards {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 750px) {
  .service-provider-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 950px) {
  .service-provider-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .service-provider-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}