.service-provider-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 650px) {
  .service-provider-cards {
    justify-content: flex-start;
  }
}


@media only screen and (min-width: 750px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 950px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 1200px) {
  .service-provider-cards {
  }
}