.service-provider-card {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 264px;
  overflow: hidden;
  /* cursor: pointer; */
  place-self: center;
}


.service-provider-card-header {
  position: relative;
  /* background-color: teal; */
  height: 150px;
}

.service-provider-card-image {
  /* background: #DDD; */
  width: 100%;
  height: auto;
}

.service-provider-card-jobs {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 99;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  flex-wrap: wrap;
}


.service-provider-card-job {
  padding: .25em .5em;
  font-size: .9em;
  background-color: tomato;
  text-align: center;
  color: lightgoldenrodyellow;
  cursor: pointer;
}

.service-provider-card-jobs:hover .service-provider-card-job.is-many {
  display: none;
}

.service-provider-card-job.is-more {
  display: none;
}

.service-provider-card-jobs:hover .is-more {
  display: initial;
}


.service-provider-card-actions{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: .5em;
  gap: .5em;
  font-size: 1.2rem;
}
