.service-provider-vote {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  /* padding: .5em; */
}

.service-provider-electors {
  display: flex;
  align-items: center;
  line-height: 50%;
  gap: .25em;
  font-weight: 400;
}

.service-provider-note {
  color: #FF9529;
}
