@import 'utils/reset';
@import 'themes/all';
@import 'components/all';
@import 'home/all';

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* background: var(--page-color); */
  font-size: var(--page-font-size);
  font-family: var(--page-font-family);
}

/* Responsive */

@media screen and (min-width: 650px) {
  :root {
    --page-font-size: 15px;
  }
}
