@import 'fonts/all';
@import 'utils/reset';
@import 'themes/all';
@import 'components/all';
@import 'home/all';

/* limite de media query |  */
/* 
 * media-small: 640px;
 * media-medium: 768px;
 * media-lg: 1024px;
 * media-xl: 1280px;
 * media-xxl: 1536px;
*/

html,
body {
  width: 100%;
  overflow-x: hidden;
  /* background: var(--page-color); */
  font-size: var(--page-font-size);
  font-family: var(--page-font-family);
  background-color: var(--dark-background-color);
  scroll-behavior: smooth;
}

/* Responsive */

@media screen and (min-width: 650px) {
  :root {
    /* --page-font-size: 120%; */
  }
}
