/* Header Auth buttons */
.header-auth-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

/* Header Profil */
.header-profil {
  width: 2.5rem;
  height: 2.5rem;
  padding: 2em;
  background-color: #ccc;
  border-radius: 50%;
}

.header-profil-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
