.button {
  border: none;
  padding: 0.7em .9em;
  border-radius: 4px;

  font-size: 1rem;
  text-align: center;
  text-decoration: none;

  background-color: var(--button-color);
  color: var(--button-text-color);

  transition: 0.3s ease-in-out;

  cursor: pointer;
}

.button:hover,
.button:active {
  --button-color: var(--button-hover-color);
  --button-text-color: var(--button-hover-text-color);
  /* font-weight: 800; */
}
