
.js-carroussel {
  position: relative;
  overflow: hidden;
  display: flex;
}

.js-carroussel-element {
  /* background-color: red; */
  position: relative;
  flex: none;
  width: 90%;
}

.js-carroussel-next_button {
  /* position: absolute; */
  padding: 1em;
  top: 0;
  right: 0;
}