.form {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label.required::after {
  content: '*';
  color: red;
  font-size: 1.1em;
  padding: 0 .2em;
}

.form-input {
  font-size: 1.1rem;
  display: block;
  padding: 5px;
}
