.header-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-profil-name {
  text-align: center;  
}

.header-profil-infos .user-profil-image {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.header-profil-logout {
  font-size: 1rem;
}
