/* Header Auth buttons */
.header-auth-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

/* .header-auth-button {
  background-color: var(--auth-button-bg-color);
  color: var(--auth-button-text-color);
} */

.header-auth-button {
  --button-bg-color: var(--button-hover-bg-color);
  --button-text-color: var(--button-hover-text-color);
}

.header-auth-button:hover,
.header-auth-button:active {
  --button-bg-color: var(--button-hover-text-color);
  --button-text-color: var(--button-hover-bg-color);
}
