.header-menu-static {
  background: transparent;
  display: none;
  position: sticky;
}

.header-menu-static .header-menu-items {
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
  padding: 10px;
}

.header-menu-static  .header-profil {
  flex-direction: row;
}

.header-menu-static .header-profil-name
{
  display: none;
}

.header-menu-static .header-profil-infos .user-profil-image {
  width: 48px;
  height: 48px;
}

.header-menu-static .header-menu-actions {
  display: none;
}

@media only screen and (min-width: 1300px) {
  .header-menu-static {
    display: block;
  }
}