.header-submenu {
  --header-submenu-triangle-size: 0.5em;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;

  align-items: center;
}

.header-submenu-label {
  padding: 0.3em 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;

  color: white;

  cursor: pointer;
}

.header-submenu-label::selection {
  pointer-events: none;
}

.header-submenu-label::before,
.header-submenu-label::after {
  content: '';
  display: inline-block;
  border-left: var(--header-submenu-triangle-size) solid transparent;
  border-right: var(--header-submenu-triangle-size) solid transparent;
}

.header-submenu-label::before {
  border-bottom: var(--header-submenu-triangle-size) solid white;
  order: 2;
  display: none;
}

.header-submenu-label::after {
  border-top: var(--header-submenu-triangle-size) solid white;
}


.header-submenu input {
  display: none;
}

.header-submenu input:checked + .header-submenu-label::before {
  display: inline-block;
}

.header-submenu input:checked + .header-submenu-label::after {
  display: none;
}

.header-submenu input:checked + .header-submenu-label + .header-submenu-items {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.header-submenu-items {
  background-color: rgba(24, 22, 22, 0.774);
  background-color: var(--text-second-color);
  display: none;
  gap: 5px;
}

.header-submenu-item {
  position: relative;
  gap: 5px;
  padding: 5px;

  /* background-color: rgba(0, 0, 0, 0.808); */
  color: var(--text-color);

  cursor: pointer;
}


.header-submenu-item::after {
  content: '';
  position: absolute;
  width: 2px;
  top:  50%;
  bottom: 50%;
  left: 0;
  height: 0;

  background-color: var(--text-color);

  transform: translateY(-50%);
}

.header-submenu-item:hover::after,
.header-submenu-item:active::after {
  transition: .5s;
  height: 100%;
}

/* Events */
.header-submenu.active {
  border-top: 2px solid whitesmoke;
}

.header-submenu-item.active::after {
  transition: none;
  height: 100%;
}

/* Responsive */

@media screen and (min-width: 1300px) {

  .header-submenu-items {
    position: absolute;
    top: 100%;
    width: 100%;
  }
  
  .header-submenu input:checked + .header-submenu-label + .header-submenu-items {
    display: none;
  }

  .header-submenu:hover > .header-submenu-items {
    display: flex;
    padding: 1em;
    z-index: var(--layer-top);
    width: 30vw;
    align-items: center;
    justify-content: space-between;
  }

  .header-submenu-item::after {
    width: 0;
    top: 100%;
    bottom: 0;
    left: 50%;
    right:  50%;
    height: 2px;

    background-color: var(--text-color);

    transform: translateX(-50%);
  }

  .header-submenu-item:hover::after,
  .header-submenu-item:active::after {
    width: 100%;
    height: 2px;
  }
    

}
