.header-menu-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  padding: 0 5px;
}

.header-menu-topbar-fake {
  display: none;
}

/* Events */

.header-menu-topbar-fake.scroll {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-background-color);
  box-shadow: 0 -0 .25em .25em var(--text-second-color);
  
  z-index: var(--layer-middle);
  
} 