.header-submenu {
  --header-submenu-triangle-size: 0.5em;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-submenu-label {
  background-color: rgb(68, 16, 68);
  padding: 0.3em 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;

  cursor: pointer;
}

.header-submenu-label::selection {
  pointer-events: none;
}

.header-submenu-label::before,
.header-submenu-label::after {
  content: '';
  display: inline-block;
  border-left: var(--header-submenu-triangle-size) solid transparent;
  border-right: var(--header-submenu-triangle-size) solid transparent;
}

.header-submenu-label::before {
  border-bottom: var(--header-submenu-triangle-size) solid lime;
  order: 2;
  display: none;
}

.header-submenu-label::after {
  border-top: var(--header-submenu-triangle-size) solid blue;
}

.header-submenu input {
  display: none;
}

.header-submenu input:checked + .header-submenu-label::before {
  display: inline-block;
}

.header-submenu input:checked + .header-submenu-label::after {
  display: none;
}

.header-submenu input:checked + .header-submenu-label + .header-submenu-items {
  display: block;
}

.header-submenu-items {
  background-color: red;
  padding: 10px;
  display: none;
}

/* Responsive */

@media screen and (min-width: 1300px) {
  .header-submenu-items {
    position: absolute;
    top: 120%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    z-index: 100;
  }

  .header-submenu {
  }
}
