.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: flex-end;

  overflow-x: none;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.548);

  z-index: var(--layer-top);
}

.header-menu-hidden {
  width: 20%;
  height: 100vh;
  
  cursor: pointer;
}

.header-menu-content {

  background-color: black;
  position: relative;
}


.header-menu-close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.3em .5em;
  border: none;

  text-shadow: 0px 0px 1px black;

  transition: .3s;

  cursor: pointer;
}

.header-menu-close:hover,
.header-menu-close:active {
  font-size: 1.5em;
}

.header-menu-content {
}

.header-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 25px;
  overflow-x: hidden;
}
/*

.header-menu-item {
  position: relative;
  padding: 0.3em 0.5em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--text-color);
}

.header-menu-item::after {
  content: '';
  position: absolute;
  width: 0;
  left:  50%;
  right: 50%;
  bottom: 2px;
  height: 2px;
  transform: translateX(-50%);
  background-color: var(--text-color)
}

.header-menu-item:hover::after, 
.header-menu-item:active::after {
  transition: .5s;
  width: 100%;
}
*/


/* Events */

.header-menu.hide {
  display: none;
}

.header-menu.leave {
  display: flex;
  animation: hideMenu 0.3s ease-in forwards;
}

.header-menu.show {
  display: flex;
  animation: showMenu 0.4s ease-out forwards;
}

.header-menu .scroll {
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
}

.header-menu-item.active::after {
  transition: none;
  width: 100%;
}


/* Responsive */

@media only screen and (min-width:650px) {
  .header-menu-hidden {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {

  .header-menu {
    position: static;
    height: auto;
    background-color: red;
  }

  .header-menu-hidden {
    display: none;
  }

  .header-menu.hide {
    display: flex;
  }

  .header-menu-content {
  }

  .header-menu-items {
    flex-direction: row;
    overflow: visible;
    justify-content: flex-end;
    padding: 0;
  }

  .header-menu-close {
    display: none;
  }
}

/* Animations */
@keyframes showMenu {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes hideMenu {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}
