.header-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: .5em;
  background-color: black;

  z-index: var(--layer-top);
  overflow-x: none;
  overflow-y: scroll;

}

.header-menu-hidden {
  width: 20vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-color: transparent;
  display: none;

  z-index: var(--layer-top);
}

.header-menu-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: .25em;
}

.header-menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* justify-content: ; */
  overflow-x: hidden;
}

.header-menu-item {
  text-decoration: underline;
  background-color: red;
  /* margin-top: 5px; */

  background-color: rgb(68, 16, 68);
  padding: .3em .5em;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Events */
.header-menu.hide {
  display: none;
}

.header-menu.leave {
  display: block;
  animation: hideMenu .3s ease-in forwards;
}

.header-menu.show {
  display: block;
  animation: showMenu .4s ease-out forwards;
}

.header-menu .scroll {
  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
}

/* Responsive */ 

@media screen and (min-width:1024px) {
  .header-menu {
    /* position: static; */
    height: auto;
    background-color: teal;
    overflow: visible;
    /* position: static; */
  }
  
  .header-menu-items {
    flex-direction: row;
    overflow: visible;
    align-items: center;
    justify-content: flex-end;

  } 
  
  .header-menu-item {
  }

  .header-menu-close {
    display: none;
  }
  
  .header-menu.hide {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}

/* Animations */
@keyframes showMenu {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes hideMenu {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}