.site-logo {
  width: 3rem;
  height: 3rem;
  background: #ccc;
  border-radius: 50%;
  
  object-fit: cover;
}

/* Events */


/* @media screen and (min-width: 1300px) {
  .header-home-top {
    position: absolute;
    background-color: var(--grey-color);
  }
} */
