.devis-message {
  display: flex;
  width: 90%;
  margin: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--devis-message-text-color);
}

.devis-message-content {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 2px 2px var(--devis-message-bg-color);
  border-radius: 4px;
  padding: 5px;
  /* background-color: var(--devis-message-bg-color); */
}

.devis-message-icon {
  /* display: none; */
}

.devis-message-text {
}

.devis-message-icon {
  width: 48px;
  height: auto;
}

.devis-message-links {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.devis-message.is-error {
  --devis-message-bg-color: var(--color-danger);
  --devis-message-text-color: var(--color-danger);
}

.devis-message.is-success {
}

/* Responsive */
@media only screen and (min-width: 1300px) {
  .devis-message-links {
    display: none;
  }
}