.search-more-button {
  justify-self: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 475px) {
  .search-more-button  {
    grid-column: span 2;
  }
}

@media only screen and (min-width: 750px) {
  .search-more-button  {
    grid-row: span 1;
  }
}

@media only screen and (min-width: 950px) {
  .search-more-button  {
    grid-column: span 3;
  }
}