.search-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 10px;
}

.search-fields.loading {

}

.search-fields.loading::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: var(--layer-top);
}

.search-fields.loading .search-field {
  background: var(--grey-color);
  border-color: var(--grey-color);
}

.search-fields-buttons {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  gap: 10px;
}

/* Responsive */
@media only screen and (min-width: 650px) {
  .search-fields {
    flex-direction: row;
    justify-content: baseline;
    align-content: baseline;
    align-items: baseline;
  }

  .search-fields-buttons {
    display: none;
    background-color: lightgreen;
  }
}


@media only screen and (min-width: 750px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 950px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 1200px) {
}
