.search-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  gap: 10px;
}

.search-fields.loading {

}

.search-fields.loading::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: var(--layer-top);
}

.search-fields.loading .search-field {
  background: var(--grey-color);
  border-color: var(--grey-color);
}
