.search-filter {
  background-color: var(--bg-search-filter);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--layer-top);
  overflow-y: auto;
}

.search-filter.is-show {
  display: block;
}

.search-filter.is-hide {
  display: none;
}

.search-filter .divider {
  display: none;
}


.search-filter-button {
  position: fixed;
  left: 2%;
  top: 30%;
  bottom: 25%;
  width: fit-content;
  height: fit-content;
  z-index: var(--layer-middle);
}

@media only screen and (min-width: 650px) {
  .search-filter-button {
    display: none;
  }
  
  .search-filter {
    position: static;
    background-color: var(--bg-search-filter-static);
    padding-top: 20px;
    overflow-y: hidden;
  } 

  .search-filter.is-hide {
    display: block;
  }

  .search-filter .divider {
    display: block;
  }

  .search-filter.active {
    position: fixed;
    padding: 5px 0;
  }

}


@media only screen and (min-width: 750px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 950px) {
  .service-provider-cards {
  }
}

@media only screen and (min-width: 1200px) {
}