@import '../service_provider/service-provider-cards';
@import '../service_provider/service-provider-card';
@import '../service_provider/service-provider-card-skeleton';
@import '../service_provider/service-provider-vote';

.search-empty {
  font-size: 2rem;
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
  
.search-content-sidebar {
  position: relative;
  border-radius: 4px;
  transition: transform .3s ease-out;
  padding: 5px 0;
  z-index: var(--layer-bottom);
  margin-bottom: 10px;
}

/* Responsive */

@media screen and (min-width: 450px) {
  .search-empty {
    flex-direction: column;
    grid-column: span 2;
  }
}

@media screen and (min-width: 750px) {
  .search-content {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 20px;
    align-items: flex-start;
  }

  .search-empty {
    align-items: center;
    justify-content: center;
  }

  .search-content-sidebar {
    left: 10px;
    box-shadow: 0px 0px 3px 1px var(--search-content-sidebar-shadow);
  }
}


@media screen and (min-width: 950px) {
  .search-empty {
    grid-column: span 3;
  }
}
