<div class="js-carroussel header-carroussel">
    <img class="is-rotate" src="https://images.unsplash.com/photo-1621905251918-48416bd8575a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1082" alt="">
    <img class="is-rotate" src="https://images.unsplash.com/photo-1650753174235-7dae04cefd0d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=1082" alt="">
</div>