<article class="home-stat">
  <div class="home-stat-content">
    <div class="home-stat-icon">
      <img src="#" alt="home stat icon">
    </div>
    <h1 class="home-stat-title">Plus de 100 prestataire à votre service</h1>
    <hr class="home-stat-separator">
    <p class="home-stat-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, perspiciatis veniam odio 
    </p>
  </div>
</article>