@!component('form/form_input', {
  label: 'Email',
  name: 'email',
  type: 'email',
  required: required || false,
  optional: optional || false,
  rule: 'l\'email doit etre sous la forme: exemple@domain.com'
})