@!component('form/form_input', {
  label: 'Numéro de télephone',
  name: 'tel',
  type: 'tel',
  required: required || true,
  optional: optional || false,
  rule: 'le numero doit etre sous la forme (06|05|04|22)XXX-XX-XX'
})