/* entête de la page d'acceuil */

.header-home {
  --header-linear-color: rgba(0, 0, 0, 0.719) 25%;
  background: linear-gradient(90deg, var(--header-linear-color), transparent),
    url('../../images/header_bg.jpeg') no-repeat;
  background-size: cover;
  background-position: 25% 0;
  min-height: 85vh;
  color: rgba(197, 193, 193, 0.877);
}

.header-home-top {
  display: grid;
  grid-template-columns: 30fr 70fr;
  /* align-items: center; */
  padding: 5px;
}

.header-home-title {
  display: none;
}

.header-home-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header-home-site-infos {
  /* background: yellow; */
  display: flex;
  gap: 10px;
  align-items: center;
  padding: .5em;
}

/* bottom of the header */
.header-home-bottom {
  margin-top: 3.5rem;
  padding: 0 15px;
  position: relative;
  bottom: 0;
  /* margin-top: 2em; */
  /*  margin-left: 15px; */
}

.header-home-buttons {
  padding: 15px;
  display: flex;
  gap: 25px;
  /* background: limegreen;  */
}

.header-home-prestataire-button {
  background: transparent;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.459);
  /* border: solid rgba(0, 0, 0, 0.336) 1.2px; */
}

.header-home-prestataire-button:hover,
.header-home-prestataire-button:active {
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.459);
  color: rgb(226, 223, 223);
}

/* Responsive */
@media screen and (min-width: 650px) {
  .header-home-title {
    display: block;
  }

}


@media screen and (min-width:1024px) {

  .header-home-site-infos {
    top: 0;
    left:  0;
    position: fixed;
    background-color: teal;
    width: 100%;
    
    z-index: var(--layer-top);
  }

  .header-home-bottom {
    padding: 5vw 1.5vw;
  }

}