.header-shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.86) 10vw, rgba(0, 0, 0, .82) 35vw, transparent);
  background-size: cover;
}