/* elements de la page d'acceuil */

.home-welcome {
  padding: 0 0 20px 0;
  color: var(--primary-text-color);
  font-size: 1.2rem;
}

.home-site-explain {
  width: 90%;
  padding: 10px;
  font-size: 1.3rem!important;
  color: var(--secondary-text-color);
}

.home-provider-button {
  border: solid 1px var(--secondary-color) ;
  background-color: transparent;
}

.home-provider-button:hover {
  border-color: var(--primary-color);
  color: var(--text-color);
  background-color: var(--primary-color);
}

.home-sign_up {
  
}

.home-login {
  display: none;
}

/* Responsive */
@media screen and (min-width: 650px) {
  .home-login {
    display: inline-block;
  }

  .home-site-title {
    font-size: 3.5rem;
  }

  .home-site-explain {
    width: 60%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 950px) {
}

@media screen and (min-width: 1300px) {
  .home-sign_up,
  .home-login {
    display: none;
  }
}
