/* elements de la page d'acceuil */

.home-site-title {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: rgb(226, 223, 223);
}

.home-site-explain {
  width: 90%;
  padding: 10px;
  font-size: 1.2rem;
}

.home-sign_up {
}


.home-login {
  display: none;
}

/* Responsive */
@media screen and (min-width:650px) {
  .home-login {
    display: inline-block;
  }
  
    .home-site-title {
      font-size: 3.5rem;
    }
    
    .home-site-explain {
      width: 50%;
      font-size: 1.5rem;
    }
}

@media screen and (min-width:950px) {
}

@media screen and (min-width:1280px) {
  .home-sign_up,
  .home-login {
    display: none;
  }

}