<div class="service-provider-card-social">
  @if(sp.facebook_link)
    <a href="{{sp.facebook_link}}" title="{{sp.fullname}}" target="_blank" class="facebook-icon">
      <i class="fab fa-facebook"></i>
    </a>
  @endif

  @if(sp.instagram_link)
    <a href="{{sp.instagram_link}}" title="{{sp.fullname}}" target="_blank" class="instagram-icon">
      <i class="fab fa-instagram"></i>
    </a>
  @endif
</div>