<div class="service-provider-card-actions">
  <a href="#" class="service-provider-card-actions-icon" title="commentaires">
    <i class="fa fa-comment-alt"></i>
  </a>
  {{--  <a href="#" class="service-provider-card-actions-icon" title="ajout au favoris">
    <i class="far fa-heart"></i>
  </a>  --}}
  {{--  <a href="#" class="service-provider-card-actions-icon" title="voir plus">
    <i class="fa fa-star"></i>
  </a>  --}}
</div>