<p>
  @!component('form/form_checkbox', {
      name: 'policy',
      text: 'Accepter les condition general d\'utilisation du site'
    })
  <a class="link" href="{{route('infos.policy')}}">En savoir plus</a>
</p>