@if(flashMessages.has('errors.'+ name))

<ul class="form-errors">
  @each(error in flashMessages.get('errors.' + name))
    <li>
      <span class="form-error">{{error}}</span>
    </li>
  @endeach
</ul>
@endif