@if(label)
<label for="{{name}}" class="form-label {{required ? 'required' : ''}}">{{label}}</label>
@endif
@!component('form/form_rule', {rule})
<input 
  {{--  {{required ? 'required' : ''}}    --}}
  type="{{type || 'text'}}" 
  class="form-input" name="{{name}}"
  placeholder="{{placeholder ? placeholder : ''}}"
  value="{{flashMessages.has(name) ? flashMessages.get(name) : ''}}" 
/>
@!component('form/form_error', {name})
  
