@set('image', auth.user.profil_image ? env('DIRECTUS_ASSETS_URL') + auth.user.profil_image : '/default_profil_image.png')

<img class="user-profil-image" src="{{image}}" alt="{{auth.user.fullname}}" id="img">
